<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Profil</title>

    <link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>
<body>
<div class="profile-container">
    <div class="profile-header">

        <img src="/pics/defaultpfp.jpg" alt="Profilbillede" class="profile-avatar">

        <h1 class="profile-name">Brugerens Navn</h1>
    </div>

    <form action="/user/list" th:href="@{/usersList}">
        <button class="memberList">Vis alle Medlemmer</button>
    </form>
    <div class="profile-details">

        <div class="profile-info">
            <div class="info-item">
                <span class="info-title">Email:</span>
            </div>
            <div class="cats-info">
            <h2>Dine Katte!</h2>
                <ul>
                    <li th:each="pet: ${pets}">
                    <strong>Navn: </strong> <span th:text="${pet.name}"></span>
                    <strong>Race: </strong> <span th:text="${pet.breed}"></span>
                    <strong>Alder: </strong> <span th:text="${pet.age}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
