
body {
    background: linear-gradient(135deg, #403b4a, #e7e9bb);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.memberList{
    border: 1px solid black;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #f3c623;
    object-fit: cover;
}


.profile-name {
    font-size: 2em;
    color: #333;
}

.profile-details {
    line-height: 1.6;
}

.profile-info {
    margin-top: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-title {
    font-weight: bold;
    color: #555;
}


.cats-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-pet-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgba(32, 213, 197, 0.67);
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-pet-button:hover {
    background-color: rgba(36, 162, 151, 0.82);
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
