<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RaceKattes forside</title>

    <link rel="stylesheet" th:href="@{/css/indexCSS.css}">
</head>
<body>


<div class="welcomeTextBox">
    <div class="welcomeText">
        <h2>Velkommen til RaceKattes Forside!</h2>
        <p>Klik på din ønskede valgmulighed nedenfor</p>
    </div>
</div>


<div class="button-container">
<form action="/login" th:href="@{/login}">
    <div class="leftButton">
        <button>Login</button>
    </div>
</form>

    <form action="register" th:href="@{/register}">
    <div class="centerButton">
        <button>Registrer</button>
    </div>
    </form>

    <form action="/admin" th:href="@{/admin}">
    <div class="rightButton">
        <button>Admin Login</button>
    </div>
</div>
</form>

</body>
</html>