<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/loginCSS.css}">
  <title>Title</title>
</head>
<body>


<div class="loginBox">

<form action="/login" method="post">
  <div class="LoginInput">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <label for="password">Kodeord</label>
    <input type="password" id="password">

    <button type="submit">Login</button>
  </div>
</form>

</div>

<div class="infoBox">
  <h1 class="TopLine">Vidste du?</h1>
  <div class="Info"></div>
  <div class="InfoText1">
    <p>Ragdoll-katten er kendt for sit rolige temperament og sin tendens til at slappe helt af, når man løfter den op –
      deraf navnet. Den har smukke blå øjne og en silkeblød, semi-lang pels, som kræver minimal pleje.</p>
  </div>
</div>

</body>
</html>