<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opret bruger</title>
  <link rel="stylesheet" th:href="@{/css/registerCSS.css}">
</head>
<body>

<div class="registerBox">
  <div class="RegisterInput">
    <form th:action="@{/register}" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email"  th:field="email" required>
    <label for="password">Adgangskode</label>
    <input type="password" id="password" th:field="password" required>

    <button type="submit" class="registerButton">Opret bruger</button>
  </form>
    <form action="/login" th:href="@{/login}">
    <button type="submit" class="returnButton">Returner til Login</button>
    </form>
  </div>

</div>
</body>
</html>